language: haxe

os:
  - linux
  - osx

haxe:
  - "3.2.1"
  - development

matrix:
  allow_failures:
    - haxe: development

script:
  - haxelib git google-apps-script https://github.com/tong/google-apps-script
  - haxe haxedoc.hxml
  - haxe --cwd examples/hello/ build.hxml
  - haxe --cwd examples/upload-to-drive/ build.hxml
